body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    color: #333;
    overflow-x: hidden;
}

header {
    background: #2a9d8f;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.kiemelt {
    background: linear-gradient(to bottom, #264653, #2a9d8f);
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.kiemelt h1 {
    font-size: 50px;
}

.gomb {
    background: #ffaa00;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.rolunk, .szolgaltatasok, .kapcsolat, .terkep {
    padding: 60px 20px;
    text-align: center;
}

.statisztika {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.adat {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 150px;
    box-shadow: 0px 0px 20px rgba(4, 84, 79);
}

h2{
    color: #2a9d8f;
    font-size: 30px;
}

.szolgaltatasok h3{
    color: #2a9d8f;
    font-size: 20px;
}

.adat h3 {
    color: #2a9d8f;
    font-size: 30px;
}

.szolgaltatasok ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    
}

.szolgaltatasok li {
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(4, 84, 79);
}

.kapcsolat form input, .kapcsolat form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.kapcsolat form button {
    background: #2a9d8f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.kapcsolat form button:hover {
    background: #264653;
}

footer {
    background: #264653;
    color: white;
    text-align: center;
    padding: 10px;
}

iframe {
    width: 100%;
}

.szolgaltatasok ul {
    list-style: none; 
    padding: 0; 
}

@media screen and (max-width: 800px) {
    nav ul {
        flex-direction: column; 
        text-align: center;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    
}

.szolgaltatasok ul {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

@media screen and (max-width: 800px) {
    .statisztika {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
    }

    .adat {
        width: 80%; 
        max-width: 300px; 
    }
}

#rolunk_p{
    font-weight: bold;
    color: #2a9d8f;
}

.kapcsolat {
    padding: 40px 20px;
    text-align: center;
    background: #f0f0f0;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

.kapcsolat input, .kapcsolat button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.kapcsolat button {
    background: #2a9d8f;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.kapcsolat button:hover {
    background: #264653;
}